@page
@using MVCExtensionUsageExample.Extensions
@model MVCExtensionUsageExample.Views.MyTemp.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @Html.MakeSomeContent(123)
</div>
</body>
</html>