@page
@model WebApplication1.Views.Home.About

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>я не понимаю, что происходит и что тут писать</h1>
</div>
</body>
</html>