@page
@model WebApplication1.Views.Home.Apple

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Average apple, nothing special</h1>
    <img src="https://t3.ftcdn.net/jpg/01/76/97/96/360_F_176979696_hqfioFYq7pX13dmiu9ENrpsHZy1yM3Dt.jpg"/>
</div>
</body>
</html>