@page
@model WebApplication1.Views.Home.Potato

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Average potato, nothing special</h1>
    <img src="https://t3.ftcdn.net/jpg/02/43/91/16/360_F_243911639_jAhwMXsfOWQj609an2ItGYqJDfXQyz6Y.jpg"/>
</div>
</body>
</html>